<div
  *ngIf="dataLoaded == false"
  class="spinner-border text-primary"
  role="status"
>
  <span class="visually-hidden">Loading...</span>
</div>
<table *ngIf="dataLoaded == true" class="table">
  <thead>
    <tr>
      <th>Id</th>
      <th>Marka Adı</th>
      <th>Model Id</th>
      <th>Color Id</th>
      <th>Model Yılı</th>
      <th>Fiyatı</th>
      <th>Açıklama</th>
    </tr>
  </thead>
  <tr *ngFor="let car of cars">
    <td>{{ car.id }}</td>
    <td>{{ car.brandName }}</td>
    <td>{{ car.modelId }}</td>
    <td>{{ car.colorId }}</td>
    <td>{{ car.modelYear }}</td>
    <td>{{ car.price }}</td>
    <td>{{ car.description }}</td>
    <td></td>
  </tr>
</table>
